<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org">
<head >
<meta>
 <meta charset="utf-8">
                <!--Form title-->
                <!--Page Title-->
                 <title>Student Payment</title>       
                 <link type="text/css" th:href="@{/css/index.css}" rel="stylesheet"/>
<link type="text/css" th:href="@{/css/login.css}" rel="stylesheet"></link>
<link type="text/css" th:href="@{/css/w3css.css}" rel="stylesheet"></link>
<link type="text/css" th:href="@{/css/pay.css}" rel="stylesheet"></link>

            <!--Use External Javascript files-->  
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>

<!-- Include header -->
 <th:block th:include="/fragments/_header"></th:block>
    

<div class="w3-container w3-padding-64 w3-card-4">

              <header class="w3-container w3-black  w3-opacity">
  <h3>Register Student Payment</h3>
</header>
<!-- Create Form -->
<form action="#" th:action="@{/pay/}" th:object="${pay}" method="post">
                

 <h3 id="error"></h3>
                       <label class="w3-label w3-text-blue payname">Student Name</label>
                       <input type="text" class="w3-input w3-border payname"  th:field="*{student_name}" placeholder="e.g Kabuye Charles" id="name" > 
                     <label class="w3-label w3-text-blue payid">Student Identifier</label> 
                       <input type="text" class="w3-input w3-border payid"  th:field="*{student_identifier}" placeholder="e.g 210937" >
               
                <label class="w3-label w3-text-blue payamount">Amount Paid</label> 
                       <input type="text" class="w3-input w3-border payamount"  th:field="*{amount}" placeholder="e.g 210,937 /=" >
         
         <p> 
                               
                        <input type="submit"  class="w3-btn w3-ripple w3-green paybtn" value="Save Student  Data" onclick="validate()"> 
                      </p>                   
</form>
</div>
 <th:block th:include="/fragments/_footer"></th:block>
</body>
</html>