<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org">
<head >
<meta>
<!--Page Title-->
<title>Student Registration</title>
<!--Reference css styling-->
<!-- Bootstrap 
<link th:href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" rel="stylesheet" media="screen"/> 

 <link th:href="/static/css/index.css" rel="stylesheet">
 -->
</head>
<body>
<div class="container">
<!-- Create Form -->
<form action="student" th:object="method=" method="post">
<div class="form-group">
<div><table>
<thead></thead>
<tr><td>Name</td><td><input th:type="text" class="form-control" id="nm"></td></tr>
<tr><td>Gender</td><td><input th:type="text" class="form-control" id="gd"></td></tr>
<tr><td>Class</td><td><input th:type="text" class="form-control" id="cls"></td></tr>
<tr><td>Term</td><td><input th:type="text" class="form-control" id="tm"></td></tr>
<tr><td>Contact</td><td><input th:type="text" class="form-control" id="ct"></td></tr>
<tr><td></td></tr>
</table></div>

</div>
</form>
<div><input type="button" class="button">Submit</div>
</div>

</body>
</html>